.venv
__pycache__
*.pyc
*.pyo
.pytest_cache
.mypy_cache
*.egg-info
dist
build
.env
.git
.gitignore
README.md
reports
.vscode
.idea
.DS_Store
.coverage
.coverage.*
input.json
loaders_task_list.json
output.json
