.venv
.idea
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.mypy_cache/
*.egg-info/
dist/
build/
routes_pool.json
/input.json
/loaders_task_list.json
/output.json
data/input.json
data/loaders_task_list.json
data/output.json
all_possible_vehicles_routes.json
all_possible_loaders_routes.json
solution.json
.env
.coverage
.coverage.*
.DS_Store
